html {
  scroll-behavior: smooth;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.main {
  padding: 120px;
  background-color: #fff;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #292929;
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}
.header__top {
  display: flex;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 64px 120px;
  background-image: url(./image/Header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
}
.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 500ms;
  box-sizing: border-box;
  height: 100vx;
  background-color: #e8eff9;
  padding: 64px 120px;
}
.menu:target {
  transform: translateX(-0%);
}
.menu-logo-close {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nav-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.recommended {
  padding: 120px;
}
.header__title {
  margin-top: 40px;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.03em;
}
.recommended__title {
  margin-top: 0;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-align: center;
}
.categories__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-align: center;
}
.how-to-buy__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.03em;
  flex-basis: 49%;
  margin-bottom: 64px;
  margin-right: 110px;
}
.recommended__products {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.product__photo {
  width: 100%;
  margin-bottom: 32px;
}

.product__title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 140%;
}
.product__categoria {
  margin-top: 0;
  margin-bottom: 12px;
}
.product__price {
  font-weight: bold;
}
.product {
  flex-basis: 324px;
  max-width: 438px;
}
.categories {
  max-width: 1020px;
  margin: 0 auto 120px auto;
  padding-top: 0;
}
.category__photo {
  display: flex;
  gap: 3%;
  margin-bottom: 16px;
}
.photo__small {
  width: 32%;
}
.photo__small {
  width: 65%;
}
.category {
  margin-bottom: 64px;
}
.how-to-buy-text {
}
.how-to-buy {
  display: flex;
  max-width: 1020px;
  margin: 0 auto 120px auto;
}
.how-to-buy-descriptoun {
  flex-basis: 51%;
}
.how-to-buy-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 40px;
}
.how-to-buy-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  min-width: 496px;
}
.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  height: 460px;
  background-image: url(./image/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: cover;
}
